body {
    font-family: Arial, Helvetica, sans-serif;
}

.image {
    display: block;
    padding-left: 40px;
}

#Acceuil {
    display: inline-flex;
    justify-content: space-evenly;
    background-color: rgb(255, 0, 72);
    border-width: 100px;
    border-radius: 5rem;
    position: fixed;
    top: 10px;
    right: 10px;
}

.block { display: flex; }
.item:nth-child(2) {
    flex: 1 1 auto;
}

#title {
    display: flex;
    justify-content:center;
}

.date {
    display: flex;
    justify-content:center;
    font-size: x-large;
    margin-top: 25px;
}


.text {
    border: 5px solid black;
    border-radius: 5px;
}



.para {
    margin-left: 80px;
    width: calc(90% - 30px);
    font-size: large;
}

#imalbum {
    display: flex;
    justify-content: space-around;
}

#album {
    display: flex;
    justify-content: space-around;
}

.music {
    display: flex;
    justify-content: space-around;
}


.titres {
    width: 300px;
    padding-left: 40px;
}

.itemu {
    width: 300px;
    font-size: large;
}

.music li:nth-child(2n) {
    background-color: darkcyan;
    border-radius: 5px;
}

.music li:nth-child(2n+1) {
    background-color: aqua;
    border-radius: 5px;
}

h3 {
    padding-left: 10px;
}

/* .colonne { 
    column-count: 1;
    break-inside: avoid;
    page-break-inside: avoid;
    background-color: rgb(207, 232, 220);
    border: 2px solid rgb(79, 185, 227);
    padding: 10px;
    margin: 0 0 1em 0;
}
*/
.nav {
    background: linear-gradient(180deg, #c597e0, rgb(192, 10, 10));
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    list-style: none;
}

.page {
    font-size: xx-large;
    width: ;
    border-radius: .5rem;
}


